.sph{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(14, 196, 196);
    animation: anime 50s ease infinite;
}
html{
    filter: url('#gooo');
}
@keyframes anime{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0px,500px);
    }
}